<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="webjars/jquery/3.4.1/dist/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <meta charset="UTF-8">
    <title>Nationalité</title>
</head>
<body>
<div class="container">
    <h4 class="text-danger text-center">Liste des Nationalités</h4>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Ajouter </button>
    <table class="table  table-striped">
        <tr class="text-danger text-center">
            <td>Id</td>
            <td>Name</td>
            <td>Capital</td>
            <td>UpdateBy</td>
            <td>UpdateOn</td>
            <td>Actions</td>

        </tr>
        <tr class="text-center" th:each="nationality:${nationalities}">
            <td th:text="${nationality.Id}">Id</td>
            <td  th:text="${nationality.name}">Name</td>
            <td  th:text="${nationality.capital}">Capital</td>
            <td  th:text="${nationality.updateBy}">UpdateBy</td>
            <td  th:text="${nationality.updateOn}">UpdateOn</td>
            <td><a class="btn btn-warning">Edit</a>&nbsp;
            <a class="btn btn-danger">Delete</a></td>
        </tr>
    </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>
</body>

</html>